<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/main.css"
          th:href="@{/css/main.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<table>
    <tr>
        <td><img src="../static/images/w_1_minoa.png" th:src="@{/images/w_1_minoa.png}"/></td>
        <td>1</td>
        <td>Minoa</td>
    </tr>
    <tr>
        <td><img src="../static/images/e_2_saba.png" th:src="@{/images/e_2_saba.png}"/></td>
        <td>2</td>
        <td>Saba</td>
    </tr>
    <tr>
        <td><img src="../static/images/w_3_assyria.png" th:src="@{/images/w_3_assyria.png}"/></td>
        <td>3</td>
        <td>Assyria</td>
    </tr>

    <tr th:each="nation : ${nations}">
    <td th:text="${nation.id}">1</td>
    <td><a href="#" th:text="${nation.title}">Title ...</a></td>
    <td th:text="${nation.imageUrl}">ImageUrl ...</td>
    </tr>

    <tr>
        <td><img src="../static/images/all_nations.png" th:src="@{/images/all_nations.png}"/></td>
    </tr>
</table>
</body>
</html>