<!DOCTYPE html>
<html>
<head>
    <title>Spiel bitte initialisieren!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/main.css"
          th:href="@{/css/main.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<h1>Spiel bitte initialisieren:</h1>
<table>
    <form action="process_input" method="post" name="init_data">
        <tr>
            <td>Anzahl Spieler</td>
            <td><input type="text" name="numberOfPlayer"/></td>
        </tr>
        <tr>
            <td>Region</td>
            <td><select name="region">
                <option value="west">West</option>
                <option value="east">Ost</option>
            </select></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="hidden" name="nextStep" value="player_names_to_enter"/>
                <input type="submit" value="weiter.."/></td>
        </tr>
    </form>
</table>
</body>
</html>